  body {
            background-color:white;
        }
        svg {
		//center canvas
            padding:0;
            margin:auto;
            display:block;
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
        }
		#btnPie {
		//http://css3buttongenerator.com/
		  background: #3498db;
		  background-image:-webkit-linear-gradient(top, #3498db, #2980b9);
		  background-image:-moz-linear-gradient(top, #3498db, #2980b9);
		  background-image:-ms-linear-gradient(top, #3498db, #2980b9);
		  background-image:-o-linear-gradient(top, #3498db, #2980b9);
		  background-image:linear-gradient(to bottom, #3498db, #2980b9);
		  -webkit-border-radius:27;
		  -moz-border-radius:27;
		  border-radius:27px;
		  font-family:Arial;
		  color:#ffffff;
		  font-size:12px;
		  background:#3498db;
		  padding:10px 20px 10px 20px;
		  border:solid #1f628d 2px;
		  text-decoration:none;
		}

		#btnPie:hover {
		  text-decoration:none;
		}
		#btnBar{
		//http://css3buttongenerator.com/
		  background: #3498db;
		  background-image:-webkit-linear-gradient(top, #3498db, #2980b9);
		  background-image:-moz-linear-gradient(top, #3498db, #2980b9);
		  background-image:-ms-linear-gradient(top, #3498db, #2980b9);
		  background-image:-o-linear-gradient(top, #3498db, #2980b9);
		  background-image:linear-gradient(to bottom, #3498db, #2980b9);
		  -webkit-border-radius:27;
		  -moz-border-radius:27;
		  border-radius:27px;
		  font-family:Arial;
		  color:#ffffff;
		  font-size:12px;
		  background:#3498db;
		  padding:10px 20px 10px 20px;
		  border:solid #1f628d 2px;
		  text-decoration: none;
		}

		#btnBar:hover {
		  text-decoration:none;
		}